// Configuration file for cu-chatbot.js

// To read username and password from environment variables:
//     username: process.env.CHAT_USERNAME + "@chat.camelotunchained.com",
//     password: process.env.CHAT_PASSWORD

module.exports = {

    // XMPP servers and chat rooms
    servers: [
    {
        name: 'hatchery',
        username: 'user@chat.camelotunchained.com',
        password: 'password',
        nickname: 'CU-Bot',
        address: 'chat.camelotunchained.com',
        service: 'conference',
        motdfile: './hatchery.motd',
        nomotdfile: './hatchery.nomotd',
        rooms: [
        { name: '_it', joined: false, motd: true, monitor: true},
        { name: '_global', joined: false, motd: false, monitor: true},
        { name: '_combat', joined: false, motd: true, monitor: false},
        ]
    },
    {
        name: 'wyrmling',
        username: 'user@wyrmling.camelotunchained.com',
        password: 'password',
        nickname: 'CU-Bot',
        address: 'chat.camelotunchained.com',
        service: 'conference',
        motdfile: './wyrmling.motd',
        nomotdfile: './wyrmling.nomotd',
        rooms: [
        { name: '_it', joined: false, motd: true, monitor: false},
        { name: '_global', joined: false, motd: false, monitor: false},
        { name: '_combat', joined: false, motd: true, monitor: false},
        ]
    }
    ],

    // Users without CSE flag which can set MOTD messages
    motdAdmins: [
    'user'
    ],

    // Keyword regular expressions to watch for which match test CSE messages
    testKeywords: [
    ".*impromptu.*",
    ".* test .*",
    ".* testing .*"
    ],

    // Pushover application token
    poAppToken: "abcdEFGHijklmNOPqrStuVwxYZ",

    // Pushover recipients for *all* CSE messages
    poReceiversAll: [
    // "zxyWVUTsrqPonmLKJihgfEDCBa", // Individual Pushover User
    "abcdEFGHijklmNOPqrStuVwxYZ" // CSE IT Pushover Group - All
    ],

    // Pushover recipients for test CSE messages
    poReceiversMin: [
    "jklmNOPqrStuVwABCdefgHIxyZ" // CSE IT Pushover Group - Min
    ],

    // SMS recipients for test CSE messages
    smsReceiversMin: [
    "1234567890",   // SMS User 1
    "3456789012",   // SMS User 2
    "9012345678"    // SMS User 3
    ],

    // iMessage recipients for *all* CSE messages
    imsgReceiversAll: [
    "1112223456"                        // iMessage User 1
    ],

    // iMessage recipients for test CSE messages
    imsgReceiversMin: [
    "9876543210",                       // iMessage User 2
    "user@me.com",      // iMessage User 3
    ]
};
