// Configuration file for cu-chatbot.js

// To read username and password from environment variables:
//     username: process.env.CHAT_USERNAME + "@chat.camelotunchained.com",
//     password: process.env.CHAT_PASSWORD

module.exports = {

    // XMPP servers and chat rooms
    servers: [
    {
        name: 'hatchery',
        username: 'user@chat.camelotunchained.com',
        password: 'password',
        nickname: 'CU-Bot',
        address: 'chat.camelotunchained.com',
        service: 'conference',
        motdfile: './hatchery.motd',
        nomotdfile: './hatchery.nomotd',
        rooms: [
        { name: '_it', joined: false, motd: true},
        { name: '_global', joined: false, motd: false},
        { name: '_combat', joined: false, motd: true},
        ]
    },
    {
        name: 'wyrmling',
        username: 'user@wyrmling.camelotunchained.com',
        password: 'password',
        nickname: 'CU-Bot',
        address: 'chat.camelotunchained.com',
        service: 'conference',
        motdfile: './wyrmling.motd',
        nomotdfile: './wyrmling.nomotd',
        rooms: [
        { name: '_it', joined: false, motd: true},
        { name: '_global', joined: false, motd: false},
        { name: '_combat', joined: false, motd: true},
        ]
    }
    ],

    // Users without CSE flag which can set MOTD messages
    motdAdmins: [
    'user'
    ]
};
